# {{ ansible_managed }}

server {
  listen {{ pxe_server_listen }};

  autoindex on;

  location /centos7 {
    alias {{ pxe_server_iso_mount_path }};
  }

  location /kickstart {
    root /var/www/html;
  }
}
